/* Root Variables */

:root {
    --primary-color: #008751;
    --secondary-color: #ffffff;
    --accent-color: #1b1b1b;
    --background-color: #f4f4f4;
    --card-color: #ffffff;
}

/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  Body */

body {
    font-family: "Roboto", sans-serif;
    background: var(--background-color);
    color: var(--accent-color);
    line-height: 1.6;
}

/* Header */

header {
    background: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 1.5rem;
}

header h1 {
    font-size: 2rem;
}

/*  Hero Image */

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

/* Main */

main {
    padding: 1rem;
}

/* Cards */

.card {
    background: var(--card-color);
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0,0,0,.15);
}

.card h2 {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.card p {
    margin: .6rem 0;
}

/* Weather */

.weather h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.weather-icon {
    width: 40px;
    height: 40px;
}

/* Footer */

footer {
    background: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1.5rem;
}

footer p {
    margin: .5rem 0;
}

#lastModified {
    color: gold;
}