
  /* Larger Screen Styles  */

@media screen and (min-width: 768px) {

    /* Header */
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
    }

    header h1 {
        margin: 0;
    }

    /* Hide hamburger button */
    
    #menu {
        display: none;
    }

    /* Navigation */
    nav {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-top: 0;
    }

    nav a {
        padding: .75rem 1rem;
        border-radius: 5px;
    }

    nav a:hover {
        background: #fff;
        color: #0b4f6c;
    }

    /* Main */

    main {
        max-width: 1200px;
        padding: 2rem;
    }

    /* Gallery */

    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    figure img {
        height: 220px;
    }
}